<header>
    <div class="menubar">
        <nav class="navbar fixed-top navbar-expand-lg navbar-light">
            <h3 class="navbar-brand rainbow">Happy Kids</h3>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse mb-0" id="navbarSupportedContent" style="margin-right: 4rem;">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active ml-4">
                        <a class="nav-link" href="/"><b>HOME</b></a>
                    </li>
                    {{#if user}}
                    <li class="nav-item active ml-4">
                        <a class="nav-link" href="/view-products"><b>PRODUCTS</b> </a>
                    </li>
                    <li class="nav-item active ml-4">
                        <a class="nav-link" href="/cart"><b>CART</b><span class="badge badge-success ml-1"
                                id="cart-count">{{cartCount}}</span></a>
                    </li>
                    <li class="nav-item active ml-4">
                        <a class="nav-link" href="/orders"><b>ORDERS</b></a>
                    </li>
                    {{/if}}
                    <li class="nav-item active ml-4 mt-2">
                        <div class="dropdown">
                            <a class="dropdown-toggle ml-4" id="dropdownMenuButton" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <b>
                                    {{#if user}}
                                    {{user.Name}}
                                    {{else}}
                                    ACCOUNT
                                    {{/if}}
                                </b>
                            </a>
                            <div class="dropdown-menu mr-5" aria-labelledby="dropdownMenuButton">
                                {{#if user}}
                                <a class="dropdown-item " href="/profile">Profile</a>
                                <a class="dropdown-item " href="/change-password">Change Password</a>
                                <a class="dropdown-item " href="/logout">Logout</a>
                                {{else}}
                                <a class="dropdown-item" href="/login">Login</a>
                                {{/if}}
                            </div>
                        </div>
                    </li>
                </ul>
    </div>
    </nav>
    </div>
</header>