<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-4 footer-col-1 text-center">
				<h3>Download our App</h3>
				<p>Download app for Android and ios mobile phone.</p>
				<div class="app-logo">
					<a href="#"><img src="/images/playstore-icon.png" style="width:100px;height:100px;"></a>
					<a href="#"><img src="/images/appstore-icon.png" style="width:100px;height:100px;"></a>
				</div>
			</div>
			<div class="col-md-4 footer-col-2 text-center mb-5">
				<h3 class="navbar-brand rainbow">Happy Kids</h3>
				<p>Feel the thrill and relive your childhood while<br> shopping for toys online at Happy Kids.</p>
			</div>
			<div class="col-md-4 footer-col-3 text-center">
				<h3 class="ml-4">Follow us</h3>
				<ul>
					<li class="mb-2"><a href="#" class="footer-link"><i class="fa fa-facebook-square mr-2"></i>Facebook</a></li>
					<li class="mb-2"><a href="#" class="footer-link"><i class="fa fa-twitter-square mr-2"></i>Twitter</a></li>
					<li class="mb-2"><a href="#" class="footer-link"><i class="fa fa-instagram mr-2"></i>Instagram</a></li>
				</ul>
			</div>
		</div>
		<hr>
		<p class="copyright">Copyright@crossroadsstudent2021</p>
	</div>
</div>