<section>
	<div class="container">
		<div class="row home">
			<div class="col-md-6 home-left">
				<h1>Welcome to <br>the world of fun...</h1>
				<p><i>made just for kids</i></p>
				<a href="/view-products" class="home-btn">Explore Now &#8594;</a>
			</div>
			<div class="col-md-6 home-right">
				<img src="images/home-image.png" class="img-fluid">
			</div>
		</div>
	</div>
</section>